@model IEnumerable<SiparisTakip.Models.Tables.Request>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = "Home Page";
}
<style>
    li {
        cursor: all-scroll;
    }
</style>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Text in a modal</h4>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Talep Güncelle</h3>
            </div>

            <div class="title_right">

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Talep Formu </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-5 mt-2 mb-2">
                            <ul class="list-group onayBekleyen" style="min-height:300px" id="sortable1">
                                <li ondblclick="myFunction()" class="list-group-item fixed bg-info text-white font-weight-bold text-center">Bekleyen Talepler</li>
                                @foreach (var item in Model)
                                {
                                    if (item.requestStatus == 0)
                                    {
                                        <li data-toggle="modal" data-target=".bs-example-modal-lg" id="res-@item.requestId" ondblclick="RequestDetails(@item.requestId)" class="list-group-item">@item.requestDepartment - @item.requestSteff - @item.requestProject</li>
                                    }

                                }


                            </ul>
                        </div>
                        <div class="col-md-5 offset-md-2 mt-2 mb-2">
                            <ul class="list-group onaylanan" style="min-height:300px" id="sortable2">
                                <li ondblclick="myFunction()" id="res-5" class="list-group-item fixed bg-success text-white font-weight-bold text-center">Onaylanan Talepler</li>
                                @foreach (var item in Model)
                                {
                                    if (item.requestStatus == 1)
                                    {
                                        <li id="res-@item.requestId" ondblclick="RequestDetails(@item.requestId)" class="list-group-item">@item.requestDepartment - @item.requestSteff - @item.requestProject</li>
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $("ul.onayBekleyen").sortable({
            items: "li:not(.fixed)",
            connectWith: "ul",
            dropOnEmpty: true

        });

        $("ul.onaylanan").sortable({
            items: "li:not(.fixed)",
            connectWith: "ul",
        });

        $("#sortable1, #sortable2, #sortable3").disableSelection();
        $("#sortable1").on("sortupdate", function (event, ui) {
            var data = $(this).sortable("serialize");
            AjaxPost(data, 0);
        });

        $("#sortable2").on("sortupdate", function (event, ui) {
            var data = $(this).sortable("serialize");
            AjaxPost(data, 1,"OK");
        });
    });

    function AjaxPost(data, status,alert) {
        let postData = {
            'data': data,
            'status': status
        }

    $.ajax({
        type: "post",
        data:postData,
    headers: {
        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
    },
    url: '@Url.Action("RequestStatusEdit", "Request")',
    success: function (result) {
        if (alert !=null) {
           new PNotify({
                title: 'Sipariş Güncelleme',
                text: 'Sipariş başarıyla güncellendi',
                type: 'success',
                styling: 'bootstrap3'
            });
        }
    }
});



    }

    function RequestDetails(id) {
        let postData = {
            'id': id
        }
            $.ajax({
        type: "post",
        data:postData,
        headers: {
        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
      },
        url: '@Url.Action("RequestInfo", "Request")',
                success: function (result) {
                    result = JSON.parse(result);
                    console.log(result);

    }
    });
}



</script>
