@model IEnumerable<SiparisTakip.Models.Tables.Request>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    li {
        cursor: all-scroll;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Satın Alma Talebi Oluştur</h3>
            </div>

            <div class="title_right">

            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Talep Formu </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-5 mt-2 mb-2">
                            <ul class="list-group onayBekleyen" id="sortable1">
                                <li ondblclick="myFunction()" class="list-group-item fixed bg-info text-white font-weight-bold text-center">Bekleyen Talepler</li>
                                @foreach (var item in Model)
                                {
                                    if(item.requestStatus == 0)
                                    { 
                                        <li id="res-@item.requestId " class="list-group-item">@item.requestDepartment - @item.requestSteff - @item.requestProject</li>
                                    }

                                }

                                
                            </ul>
                        </div>
                        <div class="col-md-5 offset-md-2 mt-2 mb-2">
                            <ul class="list-group onaylanan" id="sortable2">
                                <li  ondblclick="myFunction()"  id="res-5" class="list-group-item fixed bg-success text-white font-weight-bold text-center">Onaylanan Talepler</li>
                                @foreach (var item in Model)
                                {
                                    if (item.requestStatus == 1)
                                    {
                                        <li id="res-@item.requestId " class="list-group-item">@item.requestDepartment - @item.requestSteff - @item.requestProject</li>
                                    }

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $("ul.onayBekleyen").sortable({
            items: "li:not(.fixed)",
            connectWith: "ul",
            dropOnEmpty: true

        });

        $("ul.onaylanan").sortable({
            items: "li:not(.fixed)",
            connectWith: "ul",
        });

        $("#sortable1, #sortable2, #sortable3").disableSelection();
        $("#sortable1").on("sortupdate", function (event, ui) {
            var data =  $(this).sortable("serialize");
            AjaxPost(data, 0);
        });

        $("#sortable2").on("sortupdate", function (event, ui) {
            var data = $(this).sortable("serialize");
            AjaxPost(data, 1);
        });
    });

    function AjaxPost(data, status) {
        let postData = JSON.stringify(data,status);
        //console.log(postData);
        $.ajax({
            type: "POST",
            url: 'Talep/RequestStatusEdit',
            contentType: "application/json; charset=utf-8",
            data: postData
        })
            .done(function (result) {
                console.log(result);
            });
                }


</script>
